/* Common demo Sass here */
.demo-updated {
  display: block;
  font-size: 0.3em; }

.demo-block {
  display: block;
  clear: both; }

.demo-colour-block {
  float: left;
  width: 150px;
  margin-right: 3.15789%; }
  .demo-colour-block .cushioned {
    display: block;
    height: 100px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 12%; }
  .demo-colour-block .demo-sky-1 {
    background-color: #0076be; }
  .demo-colour-block .demo-sky-atlantic {
    background-color: #003663; }
  .demo-colour-block .demo-sky-arts {
    background-color: #734993; }
  .demo-colour-block .demo-sky-living {
    background-color: #87a0af; }
  .demo-colour-block .demo-sky-movies {
    background-color: #a51d4d; }
  .demo-colour-block .demo-v3-red {
    background-color: #ed1c24; }
  .demo-colour-block .demo-v3-pink {
    background-color: #ed0677; }
  .demo-colour-block .demo-v3-yellow {
    background-color: #fdb913; }
  .demo-colour-block .demo-v3-green {
    background-color: #a6ce39; }
  .demo-colour-block .demo-v3-blue {
    background-color: #00aeef; }
  .demo-colour-block .demo-sports {
    background-color: #d92027; }
  .demo-colour-block .demo-original {
    background-color: #f05423; }
  .demo-colour-block .demo-variety {
    background-color: #7d9d33; }
  .demo-colour-block .demo-family {
    background-color: #2b93d1; }
  .demo-colour-block .demo-movies {
    background-color: #b11d55; }
  .demo-colour-block .demo-primary {
    color: #333333; }
  .demo-colour-block .demo-secondary {
    color: #666666; }
  .demo-colour-block .demo-inactive {
    color: #999999; }
  .demo-colour-block .demo-error {
    color: #D21717; }
  .demo-colour-block .demo-link {
    color: #0070a5; }
  .demo-colour-block .demo-primary-button {
    background-color: #0073c5; }
  .demo-colour-block .demo-secondary-button {
    background-color: #eaeaea; }
  .demo-colour-block .demo-success-icon {
    background-color: #6dbb00; }
  .demo-colour-block .demo-sky-go {
    background-color: #44ad3a; }
  .demo-colour-block .demo-remote-record {
    background-color: #ed1c24; }
  .demo-colour-block .demo-never-miss {
    background-color: #0077ae; }
  .demo-colour-block .demo-background-dark {
    background-color: #eaeaea; }
  .demo-colour-block .demo-background-light {
    background-color: #f4f4f4; }
  .demo-colour-block .demo-key-line {
    background-color: #dcdcdc; }

.demo-hex {
  margin-bottom: 10px; }
