---
layout: default
title: Sky Web Toolkit
---

<h1>Colours</h1>

<p>
    For accessibility reasons, please also note the colour of the text being used.
</p>

<div class="example">
    <h2>Backgrounds</h2>
    {% include backgrounds.html %}
</div>

<div class="example">
    <h2>Buttons + Icons</h2>
    {% include buttons-icons.html %}
</div>

<div class="example">
    <h2>Channels</h2>
    {% include channels.html %}
</div>


<div class="example">
    <h2>Shop</h2>
    {% include shop.html %}
</div>

<div class="example">
    <h2>Typography</h2>
    {% include typography.html %}
</div>

<div class="example">
    <h2>V3 Brand</h2>
    {% include v3-brand.html %}
</div>